body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

header {
    /* background-color: white; */ /* Supprimer le fond blanc */
    color: rgb(35, 4, 77);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    background-color: rgb(35, 4, 77); /* Couleur de fond pour la barre de navigation */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white; /* Couleur du texte pour les liens de navigation */
    text-decoration: none;
    font-weight: bold;
}

#hero {
    background: #f4f4f4;
    padding: 100px 20px;
    text-align: center;
}

#about, #projects, #skills, #contact {
    padding: 60px 20px;
    text-align: center;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    display: inline-block;
    margin: 10px 15px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border-radius: 5px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.social-icons a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-icons a img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
